---
---

<section id="about" class="about">
    <h2>About Me</h2>
    <p>
      During my undergraduate years, I led SigQuantum, a group dedicated to exploring quantum computing, and was the software team lead for WaggleNet, an initiative deploying IoT solutions for beekeepers 🐝. 
      Additionally, I was part of the Leditzky Research Group, where I focused on the mathematical and information-theoretic aspects of quantum information theory.
    </p> 
    <p>
      In the summer of 2023, I interned at Chalk Digital, concentrating on advancing their Real-Time Bidding (RTB) system. 
      RTB is the process by which digital ad space is bought and sold in automated auctions that last less than one second. 
      Chalk Digital handles hundreds of millions of RTB requests daily. Their previous approach for deciding bid amounts relied on a simple heuristic, which was not optimal. 
      After identifying this, I developed an intelligent bidding solution using a reinforcement learning based recommender system. 
      Specifically, I implemented a deep Q-learning agent within a multi-armed bandits framework to effectively handle real-world auction volumes without settling on a suboptimal strategy. 
      This approach was green-lit by management and well-received by the team. While I didn't complete the integration of core and infrastructure before my internship ended, my contributions set a strong foundation for future development.
    
    </p>
    <p>
      Currently, I am a co-founder of Linen Labs, Inc. Our flagship product, RAGHive, is a cutting-edge Retrieval-Augmented Generation (RAG) platform designed to revolutionize how organizations interact with and extract value from their data. 
      Our mission is to make easy-to-use, private data AI accessible to businesses of all sizes.
    </p>
    <p>
      I'm always very happy to make connections, so feel free to reach out! Contact me at mayank@linenlabs.ai.
    </p>
  </section>
  
  <style>
    .about {
      max-width: 2000px;
      margin: 0 auto;
      padding: 2rem 0;
    }
    h2 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
      line-height: 1.6;
    }
  </style>
  