---
export interface Props {
  imageUrl: string;
  description: string;
}
const { imageUrl, description } = Astro.props;
---

<style>
  .portrait-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    gap: 20px; /* Add a gap between the text and image */
    padding: 10px; /* Add padding to the container */
    max-width: 2000px; /* Limit the maximum width of the container */
    margin: 0 auto; /* Center the container */
  }
  .content {
    flex: 1;
  }
  .image img {
    max-width: 100%;
    width: 250px; /* Set a specific width or max-width */
    height: auto;
    border-radius: 5px; /* Add rounded corners */
    overflow: hidden; /* Ensures the image doesn't overflow the rounded corners */
  }
  @media (max-width: 600px) {
    .portrait-container {
      flex-direction: column;
      align-items: center; /* Center items horizontally */
    }
    .image img {
      width: 100%; /* Ensure the image width is 100% in small screens */
      max-width: 200px; /* or a specific max-width */
    }
    .content {
      width: 100%; /* Ensure content takes full width */
    }
  }
</style>

<div class="portrait-container" id="portrait-container">
  <div class="content" id="content">
    <div class="header" id="header">
      <h1>Mayank Bhatia</h1>
    </div>
    <div class="description" id="description" set:html={description}></div>
  </div>
  <div class="image" id="image">
    <img src={imageUrl} alt="Portrait of Mayank Bhatia" />
  </div>
</div>

<script>
  function rearrangeElements() {
    const portraitContainer = document.getElementById('portrait-container');
    const header = document.getElementById('header');
    const content = document.getElementById('content');
    const image = document.getElementById('image');
    const description = document.getElementById('description');

    if (!portraitContainer || !header || !content || !image || !description) {
      return;
    }

    if (window.innerWidth <= 600) {
      if (content.contains(header)) {
        portraitContainer.insertBefore(header, portraitContainer.firstChild);
      }
      if (portraitContainer.contains(image)) {
        portraitContainer.insertBefore(image, content);
      }
    } else {
      if (!content.contains(header)) {
        content.insertBefore(header, content.firstChild);
      }
      if (portraitContainer.contains(image)) {
        portraitContainer.appendChild(image);
      }
    }
  }

  window.addEventListener('resize', rearrangeElements);
  window.addEventListener('load', rearrangeElements);
</script>
